<a href="https://colab.research.google.com/github/jiinpark21/ESAA_24-1/blob/main/2%EC%A3%BC%EC%B0%A8_%EC%84%B8%EC%85%98_grouping%EF%BC%BFoccupation%EF%BC%BFExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

### Step 4. Discover what is the mean age per occupation

In [5]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [5]:
users['is_male'] = users['gender'].apply(lambda x: True if x== 'M' else False)
users.groupby(by='occupation').mean('is_male').sort_values(by='is_male',ascending=False)

                     age   is_male
occupation
doctor         43.571429  1.000000
engineer       36.388060  0.970149
technician     33.148148  0.962963
retired        63.071429  0.928571
programmer     33.121212  0.909091
executive      38.718750  0.906250
scientist      35.548387  0.903226
entertainment  29.222222  0.888889
lawyer         36.750000  0.833333
salesman       35.666667  0.750000
educator       42.010526  0.726316
student        22.081633  0.693878
other          34.523810  0.657143
marketing      37.615385  0.615385
writer         36.311111  0.577778
none           26.555556  0.555556
administrator  38.746835  0.544304
artist         31.392857  0.535714
librarian      40.000000  0.431373
healthcare     41.562500  0.312500
homemaker      32.571429  0.142857

### Step 6. For each occupation, calculate the minimum and maximum ages

In [11]:
users.groupby('occupation')['age'].agg([max,min])

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [13]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [8]:
users['is_male'] = users['gender'].apply(lambda x: True if x== 'M' else False)
users['is_female'] = users['gender'].apply(lambda x: True if x== 'F' else False)
users.groupby(by='occupation')[['is_male','is_female']].mean()

                is_male  is_female
occupation
administrator  0.544304   0.455696
artist         0.535714   0.464286
doctor         1.000000   0.000000
educator       0.726316   0.273684
engineer       0.970149   0.029851
entertainment  0.888889   0.111111
executive      0.906250   0.093750
healthcare     0.312500   0.687500
homemaker      0.142857   0.857143
lawyer         0.833333   0.166667
librarian      0.431373   0.568627
marketing      0.615385   0.384615
none           0.555556   0.444444
other          0.657143   0.342857
programmer     0.909091   0.090909
retired        0.928571   0.071429
salesman       0.750000   0.250000
scientist      0.903226   0.096774
student        0.693878   0.306122
technician     0.962963   0.037037
writer         0.577778   0.422222